<app-header></app-header>
<!-- <router-outlet></router-outlet> -->

<div class="row py-5">
  <div class="column" *ngFor="let records of hosRecords">
    <div class="card">
      <p class="t-align"><label class="fw">Center: </label>{{records.hName}}</p>
      <p class="t-align"><label class="fw">ICU Available : </label>{{records.icuAvail}}1</p>
      <p class="t-align" *ngIf="records.bedWithOxygenAvail== true">
        <label class="fw">Oxygen Bed Availablity: </label>Yes
      </p>
      <p class="t-align" *ngIf="records.bedWithOxygenAvail == false">
        <label class="fw">Oxygen Bed Availablity:</label>No
      </p>
      <p class="t-align"><label class="fw">Ventilator Available: </label>{{records.bipapAvail}}</p>
      <p class="t-align"><label class="fw">BI-PAP Available: </label> {{records.bipapAvail}}</p>
      <p class="t-align"><label class="fw">HFNO Available: </label>{{records.hfnoAvail}}</p>
      <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal, records.teamDetail)">Get Team
        Detail</button>
    </div>
  </div>
</div>


<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Team to connect</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of teamDetail;">
          <td>{{member.name}}</td>
          <td>{{member.designation}}</td>
          <td>{{member.mob}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>

<!-- <app-footer></app-footer> -->